 # TABEL DE CLUBES

# import de pandas/ leitura de csv

In [12]:
import pandas as pd

In [7]:
tabc = pd.read_csv("Tabela_Clubes.csv")

# DATAFRAME

In [10]:
tabc.head(17)

,Unnamed: 0,Ano,Pos.,Clubes,Vitorias,Derrotas,Empates,GolsF/S,Saldo,Qtd_Jogadores,Idade_Media,Estrangeiros,Valor_total,Media_Valor
0,0,2017,18,America-MG,10,10,18,30:47,-17,51,"24,8",0,27350000,536000
1,1,2017,7,Athletico-PR,16,9,13,54:37,17,52,24,3,37650000,724000
2,2,2017,6,Atletico-MG,17,8,13,56:43,13,50,"23,4",6,61350000,1230000
3,3,2017,11,Bahia,12,12,14,39:41,-2,48,"23,2",2,34900000,727000
4,4,2017,9,Botafogo,13,12,13,38:46,-8,45,"23,1",4,25550000,568000
5,5,2017,15,Ceara,10,14,14,32:38,-6,54,26,2,26950000,499000
6,6,2017,14,Chapecoense,11,11,16,34:50,-16,52,"24,8",5,32030000,616000
7,7,2017,13,Corinthians,11,11,16,34:35,-1,54,"24,3",6,61400000,1140000
8,8,2017,8,Cruzeiro,14,11,13,34:34,0,51,24,5,62250000,1220000
9,9,2017,2,Flamengo,21,9,8,59:29,30,48,"23,8",7,67380000,1400000
10,10,2017,12,Fluminense,12,9,17,32:46,-14,58,"22,5",4,30800000,531000
11,11,2017,4,Gremio,18,12,8,48:27,21,59,"24,5",2,67600000,1150000
12,12,2017,3,Internacional,19,12,7,51:29,22,46,"24,2",7,55750000,1210000
13,13,2017,1,Palmeiras,23,11,4,64:26,38,48,"24,8",4,88330000,1840000
14,14,2017,20,Parana,4,11,23,18:57,-39,60,"22,9",3,18480000,308000
15,15,2017,10,Santos,13,11,14,46:40,6,46,23,5,68000000,1480000
16,16,2017,5,Sao Paulo,16,15,7,46:34,12,50,23,5,70880000,1420000

# quantia de linhas e colunas

In [11]:
tabc.shape

(200, 14)

# informações da tabela csv

In [14]:
tabc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     200 non-null    int64
 1   Ano            200 non-null    int64
 2   Pos.           200 non-null    int64
 3   Clubes         200 non-null    object
 4   Vitorias       200 non-null    int64
 5   Derrotas       200 non-null    int64
 6   Empates        200 non-null    int64
 7   GolsF/S        200 non-null    object
 8   Saldo          200 non-null    int64
 9   Qtd_Jogadores  200 non-null    int64
 10  Idade_Media    200 non-null    object
 11  Estrangeiros   200 non-null    int64
 12  Valor_total    200 non-null    int64
 13  Media_Valor    200 non-null    int64
dtypes: int64(11), object(3)
memory usage: 22.0+ KB

In [16]:
tabc.describe()

,Unnamed: 0,Ano,Pos.,Vitorias,Derrotas,Empates,Saldo,Qtd_Jogadores,Estrangeiros,Valor_total,Media_Valor
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.00000,200.000000,2.000000e+02,2.000000e+02
mean,99.500000,2012.500000,10.500000,13.855000,10.280000,13.855000,0.00000,43.23000,2.885000,3.925280e+07,9.124400e+05
std,57.879185,2.879489,5.780751,3.967706,2.528551,4.187079,15.52725,9.47661,2.042704,2.523390e+07,5.625510e+05
min,0.000000,2008.000000,1.000000,4.000000,3.000000,4.000000,-57.00000,20.00000,0.000000,2.350000e+06,6.700000e+04
25%,49.750000,2010.000000,5.750000,11.000000,9.000000,11.000000,-9.00000,36.00000,1.000000,1.726250e+07,3.925000e+05
50%,99.500000,2012.500000,10.500000,14.000000,10.000000,14.000000,-1.00000,43.00000,3.000000,3.505000e+07,8.410000e+05
75%,149.250000,2015.000000,15.250000,16.000000,12.000000,17.000000,11.25000,50.00000,4.000000,5.531250e+07,1.362500e+06
max,199.000000,2017.000000,20.000000,24.000000,17.000000,28.000000,40.00000,77.00000,8.000000,1.158000e+08,2.520000e+06

In [20]:
tabc.columns

Index(['Unnamed: 0', 'Ano', 'Pos.', 'Clubes', 'Vitorias', 'Derrotas',
       'Empates', 'GolsF/S', 'Saldo', 'Qtd_Jogadores', 'Idade_Media',
       'Estrangeiros', 'Valor_total', 'Media_Valor'],
      dtype='object')

In [35]:
tabc['Ano'].mean()

np.float64(2012.5)

In [39]:
tabc[tabc['Ano'] == 2009]['Vitorias']

160    17
161    11
162    13
163    11
164    14
165    10
166    19
167    20
168     9
169    20
170     8
171    17
172     8
173    16
174    12
175     7
176    15
177    15
178    11
179     9
Name: Vitorias, dtype: int64